body {
    margin: 0;
}

div{
    height: 200px;
    width: 200px;
    position: relative;
}

.div1{
    background-color: red;
    border-style: solid ;
    border-width: 10px;
    padding: 20px;
    top: 500px;
}

.div2{
    background-color: blue;
    border-style: solid;
    border-width: 20px;
    left: 260px;

}

.div3{
    background-color: yellow;
    border-style: solid;
    border-width: 10px;
    left: 500px;
    top: -460px;
}

