body{
    margin: 0;
}

div{
    width: 200px;
    height: 200px;
    position: relative;
}

.top{
    border-style: solid;
    border-width: 10px;
    padding: 20px;
    background-color: aquamarine;
}

.mid{
    background-color: blueviolet;
    border-style: solid;
    border-width: 20px;
    left: 260px;
}

.bot{
    background-color: rgb(214, 183, 8);
    border-style: dotted;
    border-width: 10px;
    left: 500px;
}